swagger: "2.0"

info:
  title: Draft Annotations API
  description: API for reading and writing draft annotations
  version: 0.0.1
  license:
    name: MIT
  contact:
    name: Universal Publishing
    email: universal.publishing@ft.com

host: api.ft.com
basePath: "/"
schemes:
  - http
  - https

paths:
  /drafts/content/{uuid}/annotations:
    get:
      summary: Get Annotations Drafts for Content
      description: Returns the draft annotations for the content with the given uuid.
      tags:
        - Public API
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: The UUID of the content
          required: true
          type: string
          x-example: 8df16ae8-0dfd-4859-a5ff-eeb9644bed35
      responses:
        200:
          description: Returns an array of PAC format annotations for the given content uuid.
          examples:
            application/json:
              annotations:
                - id: http://www.ft.com/thing/6b43a14b-a5e0-3b63-a428-aa55def05fcb
                  apiUrl: http://api.ft.com/things/6b43a14b-a5e0-3b63-a428-aa55def05fcb
                  prefLabel: FT
                  type: http://www.ft.com/ontology/Topic
        400:
          description: Invalid uuid supplied
        404:
          description: Annotations not found
    put:
      summary: Write Annotations Drafts for Content
      description: Returns the draft annotations for the content with the given uuid.
      tags:
        - Public API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: The UUID of the content
          required: true
          type: string
          x-example: f368bbac-4bd9-11e7-919a-1e14ce4af89b
        - name: body
          in: body
          required: true
          description: An object containing an array of PAC format annotations for the given content uuid.
          schema:
            type: object
            properties:
              annotations:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The canonical ID of the concept
                      x-example: http://www.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
                    predicate:
                      type: string
                      description: The relationship between the concept and this piece of FT content. The list below is non-exhaustive and subject to change.
                      enum:
                        - http://www.ft.com/ontology/annotation/about
                        - http://www.ft.com/ontology/implicitlyAbout
                        - http://www.ft.com/ontology/annotation/mentions
                        - http://www.ft.com/ontology/classification/isClassifiedBy
                        - http://www.ft.com/ontology/implicitlyClassifiedBy
                        - http://www.ft.com/ontology/hasBrand
                    type:
                      type: string
                      description: The type of concept, i.e. Person, Organisation, Topic
                    apiUrl:
                      type: string
                      description: The FT API url of the concept
                      x-example: http://api.ft.com/things/5507ab98-b747-3ebc-b816-11603b9009f4
                    prefLabel:
                      type: string
                      description: The preferred display label for the concept.
                  required:
                    - id
                    - predicate
            required:
              - annotations
            example:
              annotations:
                - id: http://www.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
                  predicate: http://www.ft.com/ontology/annotation/about
      responses:
        200:
          description: Returns the canonicalized input array of annotations that have been successufully written in PAC.
          examples:
            application/json:
              annotations:
                - id: http://api.ft.com/things/5507ab98-b747-3ebc-b816-11603b9009f4
                  predicate: http://www.ft.com/ontology/annotation/about
        400:
          description: Invalid uuid or annotations body supplied
        500:
          description: Internal server error
    post:
      summary: Add annotation to draft annotations
      description: Adds an annotation for specified content ID and returns a cannonicalized array of draft annotations for this content.
      tags:
        - Public API
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: The UUID of the content
          required: true
          type: string
          x-example: 8df16ae8-0dfd-4859-a5ff-eeb9644bed35
        - name: body
          in: body
          description: An annotation for specific content
          required: true
          schema: 
            type: object
            properties:
              id:
                type: string
                description: The UUID of the concept to be added
                x-example: http://www.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
              predicate:
                type: string
                description: The relationship between the concept and this piece of FT content
                x-example: http://www.ft.com/ontology/annotation/about
            example:
              id: http://www.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
              predicate: http://www.ft.com/ontology/annotation/about
            required:
              - id
              - predicate
      responses:
        200:
          description: Returns a canonicalized array of annotations that have been successufully saved in PAC.
          examples:
            application/json:
              annotations:
                - id: http://api.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
                  predicate: http://www.ft.com/ontology/annotation/about
        400:
          description: Invalid content UUID, concept UUID or predicate supplied.
        404:
          description: The content with the specified UUID was not found.
        500:
          description: Internal server error
  /drafts/content/{uuid}/annotations/{conceptUuid}:
    delete:
      summary: Delete all annotations with a given concept from the draft annotations for a specified content
      description: Returns the draft annotations for the content after the delete operation.
      tags:
        - Public API
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: The UUID of the content
          required: true
          type: string
          x-example: 8df16ae8-0dfd-4859-a5ff-eeb9644bed35
        - name: conceptUuid
          in: path
          description: The UUID of the concept to be deleted
          required: true
          type: string
          x-example: 0667615f-499e-4fa6-8130-f3430450228d
      responses:
        200:
          description: Returns the canonicalized array of annotations that have been successufully saved in PAC.
          examples:
            application/json:
              annotations:
                - id: http://api.ft.com/things/5507ab98-b747-3ebc-b816-11603b9009f4
                  predicate: http://www.ft.com/ontology/annotation/about
        400:
          description: Invalid content or concept UUID supplied
        404:
          description: Content with the specified UUID was not found
        500:
          description: Internal server error
  /drafts/content/{uuid}/annotations/{conceptUUID}:
    patch:
      summary: Replace all annotations with given conceptUUID from the draft annotations for a specified content with new annotation provided in the body
      description: Returns the draft annotations for the content after the replace operation.
      tags:
        - Public API
      produces:
        - application/json
      parameters:
        - name: uuid
          in: path
          description: The UUID of the content
          required: true
          type: string
          x-example: 8df16ae8-0dfd-4859-a5ff-eeb9644bed35
        - name: conceptUUID
          in: path
          description: The UUID of the concept to be replaced
          required: true
          type: string
          x-example: 0667615f-499e-4fa6-8130-f3430450228d
        - name: body
          in: body
          description: An annotation for specific content
          required: true
          schema: 
            type: object
            properties:
              id:
                type: string
                description: The UUID of the new concept
                x-example: http://www.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
              predicate:
                type: string
                description: The relationship between the concept and this piece of FT content
                x-example: http://www.ft.com/ontology/annotation/about
            example:
              id: http://www.ft.com/thing/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
              predicate: http://www.ft.com/ontology/annotation/about
            required:
              - id
      responses:
        200:
          description: Returns the canonicalized array of annotations that have been successfully saved in PAC.
          examples:
            application/json:
              annotations:
                - id: http://api.ft.com/things/d7113d1d-ed66-3adf-9910-1f62b2c40e6a
                  predicate: http://www.ft.com/ontology/annotation/about
        400:
          description: Invalid content or concept UUID supplied
        404:
          description: Content with the specified UUID was not found
        500:
          description: Internal server error
  /__health:
    get:
      summary: Healthchecks
      description: Runs application healthchecks and returns FT Healthcheck style json.
      produces:
        - application/json
      tags:
        - Health
      responses:
        200:
          description: >
            Should always return 200 along with the output of the healthchecks - regardless
            of whether the healthchecks failed or not.
            Please inspect the overall ok property to see whether or not the application is healthy.
          examples:
            application/json:
              schemaVersion: 1
              systemCode: dewey-system-code
              name: app-name
              description: A descriptive description
              checks:
                - id: check-api-health
                  name: Check API Health
                  ok: false
                  severity: 1
                  businessImpact: A business impact this failure might have
                  technicalSummary: A technical description of what's gone wrong
                  panicGuide: https://runbooks.in.ft.com/draft-annotations-api
                  checkOutput: Technical output from the check
                  lastUpdated: 2017-08-03T10:44:32.324709638+01:00
              ok: true
  /__build-info:
    get:
      summary: Build Information
      description: >
        Returns application build info, such as the git repository and revision,
        the golang version it was built with, and the app release version.
      produces:
        - application/json; charset=UTF-8
      tags:
        - Info
      responses:
        200:
          description: Outputs build information as described in the summary.
          examples:
            application/json; charset=UTF-8:
              version: 0.0.1
              repository: https://github.com/Financial-Times/app-name.git
              revision: 7cdbdb18b4a518eef3ebb1b545fc124612f9d7cd
              builder: go version go1.6.3 linux/amd64
              dateTime: "20161123122615"
  /__gtg:
    get:
      summary: Good To Go
      description: Lightly healthchecks the application, and returns a 200 if it's Good-To-Go.
      tags:
        - Health
      produces:
          - text/plain; charset=US-ASCII
      responses:
        200:
          description: The application is healthy enough to perform all its functions correctly - i.e. good to go.
          examples:
            text/plain; charset=US-ASCII: OK
        503:
          description: >
            One or more of the applications healthchecks have failed,
            so please do not use the app. See the /__health endpoint for more detailed information.
